body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800 auto;
    grid-template-rows: auto 608 auto;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: 001;
}