body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800 auto;
}

#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: #00F;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}

.gameObject{
    position: absolute;
    transition: all 0.5s ease-in-out;
    background-color: #FFF;
}

.foreground{
    z-index: 1000;
}

.gameCharacter{
    z-index: 100;
}

#mainCharacter{
    left: 692px;
    top: 25px;
}

#door{
    width: 50px;
    height: 80px;
    left: 85px;
    top: 529px;
}

#fire{
    width: 29px;
    height: 25px;
    left: 528px;
    top: 41px;
}

.background{
    z-index: 0;
}