body{
    background-color: #000;
    color: #FFF;
    display: grid;
    grid-template-columns: auto 800 auto;
}

#mainTitle{
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: 001;
    grid-row-start: 2;
    grid-column-start: 2;
}